{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_field %}

{% block head %}
Account | RadzBlog
{% endblock head %}

{% block body %}
<div class="container py-4" style="background-color: bisque;">
    <div class="container mb-5 text-center">
        <h5>Welcome {{ user.username }}</h5>
        <img class="img-thumbnail" src="{{user.userimage.image.url}}">
        <p>{{user.email}}</p>
    </div>
        
    <form action="{% url 'useraccount' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row px-5 py-2">
            <div class="col-3 mt-2">{{form.email.label}}</div>
            {% crispy_field form.email 'class' 'form-control col-7' 'placeholder' 'Update Email ID' %}
        </div>
        {% for error in form.errors.email %}
        <div class="row">
            <div class="col-3"></div>
            <h6 style="color: red; font-size: 0.8rem; margin-left: 1.5rem;">{{error}}</h6>
        </div>
        {% endfor %}

        <div class="row px-5 py-2">
            <div class="col-3 mt-2">{{form.username.label}}</div>
            {% crispy_field form.username 'class' 'form-control col-7' 'placeholder' 'Update Username' %}
        </div>
        {% for error in form.errors.username %}
        <div class="row">
            <div class="col-3"></div>
            <h6 style="color: red; font-size: 0.8rem; margin-left: 1.5rem;">{{error}}</h6>
        </div>
        {% endfor %}

        <div class="row px-5 py-2">
            <div class="col-3 mt-2">{{form.password.label}}</div>
            {% crispy_field form.password 'class' 'form-control col-7' 'placeholder' 'Update Password' %}
        </div>
        {% for error in form.errors.password %}
        <div class="row">
            <div class="col-3"></div>
            <h6 style="color: red; font-size: 0.8rem; margin-left: 1.5rem;">{{error}}</h6>
        </div>
        {% endfor %}

        <div class="row px-5 py-2">
            <div class="col-3 mt-2">{{form.check_pass.label}}</div>
            {% crispy_field form.check_pass 'class' 'form-control col-7' 'placeholder' 'Re-enter New Password' %}
        </div>
        {% for error in form.errors.check_pass %}
        <div class="row">
            <div class="col-3"></div>
            <h6 style="color: red; font-size: 0.8rem; margin-left: 1.5rem;">{{error}}</h6>
        </div>
        {% endfor %}

        <hr>

        <div class="row px-5">
            <div class="col-3">{{form.image.label}}</div>
            {{form.image}}
        </div>

        <div class="row px-5 pt-4">
            <div class="col-3"></div>
            <button type="submit" class="col-2 btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock body %}