{% extends 'base.html' %}

{% block head %}
Approval List | RadzBlog
{% endblock head %}

{% block body %}
{% if page %}    
<div class="container mt-4 text-center">
    {% if page.has_previous %}
    <a class="btn btn-sm btn-outline-info text-white"
        href="?page={{page.previous_page_number}}">Previous</a>
    {% else %}
    <a class="btn btn-sm btn-outline-info text-white disabled" href="#">Previous</a>
    {% endif %}

    <span class="current text-white mx-4">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
    </span>

    {% if page.has_next %}
    <a class="btn btn-sm btn-outline-info text-white" href="?page={{page.next_page_number}}">Next</a>
    {% else %}
    <a class="btn btn-sm btn-outline-info text-white disabled" href="#">Next</a>
    {% endif %}
</div>

{% for blog in page.object_list %}
<div class="container mt-5 py-4" style="background-color: bisque; max-width: 50rem;">
    <h3 class="pl-3">{{blog.title}}</h3>
    
    <div class="px-3 mt-3">
        {{blog.unapproved_comments.count}} comment(s) waiting for 
        <a class="font-weight-bold font-italic" href="{% url 'blogpage' blog.id %}">approval</a>
    </div>
</div>
{% endfor %}
{% else %}
<p class="text-center text-white">No comments to be approved.</p>
{% endif %}
{% endblock body %}